.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.header {
  padding-bottom: 50px;
}

.dropItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dropItem {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 10px;
}

.mediaDetail {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* width: 300px;
  height: 225px; */
}

.productName {
  flex: 1;
  font-family: "Gatwick", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.productDescription {
  flex: 1;
}

.productPrice {
  flex: 1;
}

.cartUtil {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
}

.cartQty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  color: #222;
  font-size: 1.1rem;
}

.btn {
  background-color: #f9f9f9;
  color: #222;
  padding: 5px 15px;
  border: none;
  font-size: 1.7rem;
  text-align: center;
  float: left;
}

.btn:hover {
  background-color: #f9f9f9;
  color: #222;
  padding: 5px 15px;
  cursor: pointer;
}

/* .productItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  width: 15rem;
  height: 27rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productInfo > h3 {
  font-size: 1.1rem;
  align-items: center;
  height: 1rem;
}

.productInfo > h4 {
  height: 1rem;
  margin-top: -15px;
}

.cartUtil {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(34, 2, 0, 0.1);
}

.cartQty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}

.cartQty > p {
  color: #222;
  font-size: 1.2rem;
}

.btn {
  background-color: #f9f9f9;
  color: #222;
  padding: 5px 15px;
  border: none;
  font-size: 20px;
  text-align: center;
  float: left;
}

.btn:hover {
  background-color: #f9f9f9;
  color: #222;
  padding: 5px 15px;
  cursor: pointer;
} 

*/
