.productItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  width: 15rem;
  height: 27rem;
  /* background-color: red; */
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productInfo > h3 {
  font-size: 1.1rem;
  align-items: center;
  height: 1rem;
}

.productInfo > h4 {
  height: 1rem;
  margin-top: -15px;
}

.cartUtil {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(34, 2, 0, 0.1);
}

.cartQty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}

.cartQty > p {
  color: #222;
  font-size: 1.2rem;
}

.btn {
  background-color: #f9f9f9;
  color: #222;
  padding: 5px 15px;
  border: none;
  font-size: 20px;
  text-align: center;
  float: left;
}

.btn:hover {
  background-color: #f9f9f9;
  color: #222;
  padding: 5px 15px;
  /* border: 1px solid #222; */
  cursor: pointer;
}
