.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffd6b1;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  display: flex;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}

.textWrapper {
  padding: 15px;
  flex: 1;
}

.background {
  transform: translateX(-150%) translateY(50%);
  opacity: 60%;
}
