.header {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.faqWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 50px;
}

.subHeader {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 33%;
}

.faqAccordion {
  width: 50%;
}

.accordionItem {
  padding: 15px;
}

.accordionTitle {
  display: flex;
  justify-content: space-between;
}

.accordionContent {
  padding-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .faqWrapper {
    flex-direction: column;
  }

  .subHeader {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .faqAccordion {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}
