@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Gatwick";
  src: local("Gatwick"),
    url(../public/fonts/Gatwick-Ultralight.otf) format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  background-color: #ffd6b1;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;

  @media screen and (max-width: 991px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.sectionWhite {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionOrange {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffd6b1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centerWhite {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

h1,
.title {
  font-family: "Gatwick", Arial, Helvetica, sans-serif;
  color: #222;
}

h2,
h3,
h4,
h5,
p {
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: #222;
  color: #f9f9f9;
  padding: 5px 15px;
  border: 1px solid #222;
  margin: 2px;
  font-family: "Montserrat", Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}

button:hover {
  background-color: #f9f9f9;
  color: #222;
  padding: 5px 15px;
  border: 1px solid #222;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-selected {
  background-color: #f9f9f9;
  border: 1px solid #222;
  color: #222;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-selected:hover {
  background-color: #f9f9f9;
  border: 1px solid #222;
  color: #222;
  cursor: default;
}

button:disabled,
button[disabled] {
  background-color: #f9f9f9;
  border: 1px solid #222;
  color: #222;
}

button:disabled:hover {
  background-color: #f9f9f9;
  color: #222;
  padding: 5px 15px;
  border: 1px solid #222;
  cursor: default;
  box-shadow: none;
}
