.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 50px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.header {
  display: flex;
}
