.infowrapper {
  display: flex;
  justify-content: space-around;
  background-color: #ffd6b1;
  padding: 50px;
  max-width: 90%;
}

.infoleft {
  display: flex;
  flex: 1;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}

.right {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}

.image1 {
  padding-left: 10%;
}

.image2 {
  padding-right: 12%;
  padding-bottom: 5%;
}

.text {
  margin: 0px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  
  .infowrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column-reverse;
  }
  
  .image1 {
    max-width: 0%;
  }

  .image2 {
    align-self: flex-end;
  }

  .text {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .right {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .infoleft {
    align-self: center;
    padding-top: 0px;
    padding-bottom: 20px;
  }
}