.infowrapper {
  display: flex;
  justify-content: space-around;
  background-color: #ffd6b1;
  padding: 50px;
  max-width: 90%;
}

.infoleft,
.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}

.text {
  margin: 0px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  
  .infowrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .image1 {
    max-width: 0%;
  }

  .text {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .right {
    padding-top: 20px;
    padding-bottom: 0px;
  }


  .infowrapper {
    flex-direction: column-reverse;
    }
}