.reviewsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffd6b1;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1300px;
}

.header {
  display: flex;
}

.reviews {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.quote {
  padding: 15px;
}

.quoteItem {
}

.background {
  transform: translateX(-150%) translateY(50%);
  opacity: 60%;
}

@media screen and (max-width: 768px) {

  .reviews {
    flex-direction: column;
    }
}